
<%- include("header") -%>

<div class="box" id="heading">
    <h1> ToDo WebApp </h1>
</div>
<div class="item">

    <p >Name : NEERAJ KUMAR</p>
</div>
<div class="item">

    <p >This is the Todo WebApp Specially created by me.</p>
    <p> Made with Ejs Template  </p>
</div>

 




<%- include("footer") -%>